.locationBox {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 16px 24px 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  transition: 0.3s all;
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .locationInfoTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .locationStatus {
      background-color: rgb(242, 208, 143);
      border-radius: 50px;
      padding: 4px 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      .statusText {
        font-size: 14px;
        margin: 0;
        color: rgb(134, 107, 55);
      }
      &.inactiveStatus {
        background-color: rgb(250, 103, 103);
      }
    }
  }
  .locationInfoBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      margin-top: 16px;
    }
    time {
      color: rgb(85, 85, 85);
    }
  }
  .locationText {
    margin: 0;
  }
  .locationUserName {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
  }
  .locationId {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  .locationDate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
    img {
      width: 15px;
      height: 15px;
    }
    span {
      font-weight: 500;
      font-size: 14px;
      margin: 0;
    }
    .locationAgo {
      margin: 0 !important;
    }
  }
}
