.searchInput {
  position: relative;
  width: 100%;
  border: 1px solid #aaa;
  padding: 8px 12px;
  border-radius: 4px;
  margin-bottom: 16px;
  .searchIcon {
    width: 20px;
    position: absolute;
    left: 8;
  }
  input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding-left: 32px;
  }
}
